
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


body {
    background-color: #fff8f0;
    font-family: 'Winky Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1 {
    color: #d2691e;
    margin-bottom: 30px;
}

.form-section {
    margin-bottom: 20px;
}

.btn-custom {
    background-color: #d2691e;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #a0522d;
}

.destaque {
    font-weight: bold;
    font-size: 1.25rem;
    color: #b14a0b;
    background-color: #fff3e0;
    padding: 6px 12px;
    border-radius: 8px;
    display: inline-block;
  }
  

/* From Uiverse.io by themrsami */ 

  